@import "variables.less";
@import "mixins.less";

.first-letter {
		color: @red-adlib;
		font-style: bold;
}

h2 {
	&::first-letter {
		.first-letter;
	}
}

#presentation {

	background-image: url(../img/fond.png), url(../img/bordure-fond.png), radial-gradient( farthest-side ellipse at top left, #bbb, #888);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: top right, bottom left, right;
  background: -moz-radial-gradient( farthest-side ellipse at top left, #bbb, #888), -webkit-radial-gradient(farthest-side ellipse at top left, #bbb, #888), radial-gradient( farthest-side ellipse at top left, #bbb, #888);

  /*background-color: radial-gradient( farthest-side ellipse at top left, #bbb, rgb(73, 73, 73));
	background-color: grey;
  background-image: url("../img/fond.png"), url("../img/bordure-fond.png");*/
  //background-attachment: fixed;

	.cadre {
	    padding: 15px;
	    background-color: rgba(245, 244, 244, 0.67);
	    border-radius: 27px;
			margin-bottom: 20px;
	}

	.section-subheading {
		font-size:	20px;
	}

	.photo-presentation {
	  width: 100%;
	  border-radius: 10px;
	  box-shadow: 2px 2px 10px rgb(94, 94, 94);
		margin-bottom: 20px;
	}

	.bordure-fond {
	    position: fixed;
	    float: left;
	    bottom: 0px;
	    margin-left: 0px;
	    opacity: 0.3;
	}
}

#team {
	.team-member {
		h4 {
			&::first-letter {
					.first-letter;
			}
		}
	}
}

#about {
	h4.date {
		&::first-letter {
			.first-letter;
		}
	}
	.section-subheading {
		margin-bottom: 50px;
	}
}

#album {
	height: 100vh;
	.container {
		width: 55%;
		.carousel {
			.carousel-inner {
				.item {
					padding: 20px;
				}
			}
			.carousel-control.left, .carousel-control.right  {
					background-image : none;
					border: none;
			}
			.carousel-indicators {
				bottom: 40px;
			}
		}
	}

	img.photo {
		margin: auto;
		box-shadow: 4px 4px 15px rgb(47, 47, 47);
		border-radius: 5px;
		border: solid 29px #EFEBEB;
		max-height: 70vh;
	}
}

@media(max-width:@breakpoint-album-cadre) {
		#album {
				img.photo {
					border: solid 15px #EFEBEB;
				}
		}
}

// Suppression des marge pour le titre de la NavBar
.navbar-brand {
	padding: 0px;
}

.navbar-brand>img {
    display: block;
    height: 100%;
}
