<!DOCTYPE html>
<html lang="fr" xmlns:ng="http://angularjs.org" ng-app="adlibApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Ad Lib' a capella</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Theme CSS -->
    <link href="css/ad-lib.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon et web icone -->
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <div class="">
                    <a class="navbar-brand page-scroll " href="#page-top">
                    	 <img class="img-responsive" src="img/logo.png" alt="Logo Ad Lib'">
                    </a>
                </div>
                <!--<div class="col-xs-offset-8 col-xs-2">-->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                    </button>
                <!--</div>-->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#presentation" onclick="this.blur();">En quelques mots</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about" onclick="this.blur();">Quelques dates</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team" onclick="this.blur();">Qui sommes-nous ?</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#album" onclick="this.blur();">Album</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <!--<div class="intro-lead-in">Bienvenue sur le site d'Ad Lib'</div>
                <img class="logo" src="img/logo-gris.png" alt="logo"></img>
                <!--<div class="intro-heading">It's Nice To Meet You</div>
                <a href="#presentation" class="hidden-xs page-scroll btn btn-xl">Découvrez-nous !</a>-->
            </div>
        </div>
    </header>

    <!-- Présentations Section -->
    <section id="presentation" class="paire">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">En quelques mots</h2>
                </div>
            </div>
            <div class="row">
            	<div class="col-sm-4 hidden-xs">
            		<img class="photo-presentation img-responsive" src="img/photo-presentation.jpg" alt="Photo Ad Lib'">
            	</div>
            	<div class="cadre col-sm-8">
              		<div class="text-justify">

          						<p class="large text-muted">
          							<img class="adlib" src="img/logo-texte.png" alt="Ad Lib'" />
          						s'inscrit dans la lignée des groupes a capella modernes, autour de <b>3 chanteuses, 2 chanteurs et un beatboxer</b>.
          						</p>

          						<p class="large text-muted">
          							Admiratif des plus grands, comme Take6, The Real Group, Rajaton... Ad Lib' aime piocher ses morceaux dans tous les répertoires, des années 80 à nos jours, <b>de Stromae aux Beatles</b>. Ils rassemblent, dans un spectacle étonnant mêlant voix et lumières, <b>compositions, arrangements originaux et uniques</b>, écrits d'une main de maître par Adeline Guihard.
          						</p>

          						<p class="large text-muted">
          							Originaire de la région nantaise, <img class="adlib" src="img/logo-texte.png" alt="Ad Lib'" /> a forgé son expérience grâce à de nombreux concerts, soirées privées, mais aussi par d'incroyables rencontres comme la <b>première partie de Witloof Bay</b> et l'inoubliable Master Class, achevée sur scène, avec les <b>Opus Jam !</b>
          						</p>

        					</div>
        					<div class="text-center">
	                    <h3 class="section-subheading text-muted">Venez découvrir <img class="adlib" src="img/logo-texte.png" alt="Ad Lib'" /> en concert, <br /> et laissez-vous embarquer pour un voyage hors du temps…</h3>
                  </div>
              </div>
              <div class="text-center">
                  <ul class="list-inline social-buttons">
                      <li><a href="http://www.facebook.com/adlibacapella" target="_blank"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li><a href="http://www.youtube.com/channel/UC9rj7ycpgn_PdeyuXyknPxw" target="_blank"><i class="fa fa-youtube"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about" class="impaire">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quelques dates</h2>
                    <h3 class="section-subheading text-muted">Depuis sa création, <img class="adlib" src="img/logo-texte.png" alt="Ad Lib'" /> a eu la chance de participer à de nombreux spectacles dont voici les plus marquants.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline" data-ng-controller="eventCtrl">

                      <li ng-class="event.inverseClass" ng-repeat="event in events">
                          <div class="timeline-image">
                              <a ng-href="{{event.link}}">
                                <img class="img-circle img-responsive" ng-src="{{event.image}}" alt="">
                              </a>
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4 class="date">{{event.date}}</h4>
                                  <h4 class="subheading">{{event.title}}</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">{{event.description}}</p>
                              </div>
                          </div>
                      </li>

                        <li>
                            <div class="timeline-image">
                                <h4>Et bien
                                    <br>d'autres
                                    <br>à venir !</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="paire">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nous voici&nbsp;!</h2>
                    <!--<h3 class="section-subheading text-muted">Trois chanteuses, deux chanteurs, un beat-box</h3>-->
                </div>
            </div>
            <div class="row" ng-controller="teamCtrl" style="text-align=center">
              <div class="{{singer.style}} col-sm-4" ng-repeat="singer in team">
                  <div class="team-member">
                      <img ng-src="img/team/{{singer.photo}}.jpg" class="img-responsive img-circle" alt="">
                      <h4>{{singer.name}}</h4>
                      <p class="text-muted">{{singer.role}}</p>
                  </div>
              </div>
            </div>
        </div>
    </section>

    <!-- Album Section -->
    <section id="album" class="impaire">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Album photos</h2>
                </div>
            </div>
            <div id="carousel-album" class="row carousel slide" data-ng-controller="photosCtrl" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                    <li data-target="#carousel-album" ng-repeat="slide in slides" data-slide-to="{{slide.index}} - 1" class="{{slide.active}}"></li>
                    <!--<li data-target="#carousel-album" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-album" data-slide-to="1"></li>
                    <li data-target="#carousel-album" data-slide-to="2"></li>
                    <li data-target="#carousel-album" data-slide-to="3"></li>-->
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner" role="listbox">
                    <div class="item {{slide.active}}" ng-repeat="slide in slides">
                      <img ng-src="{{slide.image}}" class="photo">
                      <div class="carousel-caption hidden-xs">
                        <h3>{{slide.title}}</h3>
                        <p>{{slide.description}}</p>
                      </div>
                    </div>
                  </div>

                  <!-- Left and right controls -->
                  <a class="left carousel-control" href="#carousel-album" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#carousel-album" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
                <!--<carousel interval="myInterval" no-wrap="noWrapSlides">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <img class="photo img-responsive" ng-src="{{slide.image}}">
                            </div>
                        </div>
                    </slide>
                </carousel>-->
            </div>
        </div>
    </section>

    <div id="player" data-ng-controller="musicCtrl">
        <div class="block {{show}}">
          <i class="fa fa-music menu" data-ng-click="display()"></i>
          <audio id="audio">
            <source id="{{music.id}}" data-ng-repeat="music in musics" ng-src="{{music.source}}" type="audio/mpeg">
          </audio>
          <div class="buttons">
              <i class="fa fa-step-backward" data-ng-click="previous()"></i>
              <i class="fa fa-play" data-ng-if="!isPlaying" data-ng-click="play()"></i>
              <i class="fa fa-stop" data-ng-if="isPlaying" data-ng-click="stop()"></i>
              <i class="fa fa-step-forward" data-ng-click="next()"></i>
          </div>
        </div>
    </div>

    <footer class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-sm-offset-4 col-sm-4">
                    <ul class="list-inline social-buttons">
                      <li><a href="http://www.facebook.com/adlibacapella" target="_blank"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li><a href="http://www.youtube.com/channel/UC9rj7ycpgn_PdeyuXyknPxw" target="_blank"><i class="fa fa-youtube"></i></a>
                      </li>
                    </ul>
                </div>
                <div class="hidden-xs col-xs-4">
                    <span class="copyright">Copyright &copy; Ad Lib' a capella 2016</span>
                    <ul class="list-inline quicklinks">
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- angular -->
    <script src="vendor/angular/js/angular.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/ad-lib.js"></script>

</body>

</html>
